<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a [routerLink]="['']" class="mt-2">
                <img class="h-5 w-auto" src="assets/images/logo/logo-dark-blue.png" alt="">
            </a>

            <span class="text-[14px] pt-[14px] px-1 text-main rounded-lg rfont-medium">Beta</span>
        </div>
        <div class="flex lg:hidden">
            <button (click)="isMobileMenu = true" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 " type="button">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
    </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a class=" text-decoration-none text-sm  leading-6 text-gray-900 hover:text-main" href="/">{{'HOME'|translate}}</a>
            <a class=" text-decoration-none text-sm  leading-6 text-gray-900 hover:text-main" href="/aboutus">{{'ABOUT_US'|translate}}</a>
            <a class=" text-decoration-none text-sm  leading-6 text-gray-900 hover:text-main" href="/contactus">{{'CONTACT_US'|translate}}</a>
            <a class=" text-decoration-none text-sm  leading-6 text-gray-900 hover:text-main" href="/certification">{{'CERTIFIED'|translate}}</a>
            <a class=" text-decoration-none text-sm  leading-6 text-gray-900 hover:text-main" href="/businessChallenge"> {{'SIRATIFY_BUSINESS_CHALLENGE'|translate}}</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end " style="text-align: center;">
            <a [routerLink]="['/login']" [dir]="'dir'|translate" class="text-decoration-none text-sm font-semibold leading-6 bg-main text-white px-3 py-2 rounded-md hover:bg-tertiary">{{'LOGIN'|translate}} <span aria-hidden="true">&rarr;</span></a>
            <div class="dropdown ml-2">
                <button [dir]="'dir'|translate" class="btn btn-secondary text-sm font-semibold dropdown-toggle py-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <span  *ngIf="selectedLanguage=='en'">English</span>
                <span  *ngIf="selectedLanguage=='fr'">Français</span>
                <span  *ngIf="selectedLanguage=='ar'">العربية</span> &nbsp; 
                <i class="fa-solid fa-earth-americas" style="font-size: 17px; color: white;"></i>
            </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" *ngIf="selectedLanguage=='en'" href="#">English <i class="fa fa-check ms-2" style="color: #1b4156;"></i></a>
                        <a class="dropdown-item" *ngIf="selectedLanguage=='fr'" href="#">Français <i class="fa fa-check ms-2" style="color: #1b4156;"></i></a>
                        <a class="dropdown-item" *ngIf="selectedLanguage=='ar'" href="#">العربية<i class="fa fa-check ms-2" style="color: #1b4156;"></i></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a *ngIf="selectedLanguage!='en'" class="dropdown-item" (click)="changeLanguage('English')">English</a>
                    </li>
                    <li>
                        <a *ngIf="selectedLanguage!='fr'" class="dropdown-item" (click)="changeLanguage('Français')">Français</a>
                    </li>
                    <li>
                        <a *ngIf="selectedLanguage!='ar'" class="dropdown-item" (click)="changeLanguage('العربية')">العربية</a>
                    </li>
                </ul>
            </div>
        </div>



    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div [ngClass]="{
    'hidden': !isMobileMenu,
    }" aria-modal="true" class="lg:hidden" role="dialog">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <!--                    <img alt="" class="h-10 w-auto" src="assets/images/logo/logo4.png">-->
                </a>
                <button (click)="isMobileMenu = false" class="-m-2.5 rounded-md p-2.5 text-gray-700" type="button">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a class="-mx-3 block rounded-lg px-3 py-2 text-base  leading-7 text-gray-900 hover:bg-gray-50" href="/">{{'HOME'|translate}}</a>
                        <a class="-mx-3 block rounded-lg px-3 py-2 text-base  leading-7 text-gray-900 hover:bg-gray-50" href="/magazine">{{'INSIGHTS'|translate}}</a>
                        <a class="-mx-3 block rounded-lg px-3 py-2 text-base  leading-7 text-gray-900 hover:bg-gray-50" href="/contactus">{{'CONTACT_US'|translate}}</a>
                        <a class=" -mx-3 block rounded-lg px-3 py-2 text-base  leading-7 text-gray-900 hover:bg-gray-50" href="/businessChallenge"> Siratify Business Challenge</a>

                    </div>
                    <div class="py-6">
                        <a [routerLink]="['/login']" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{'LOGIN'|translate}}</a>
                        <a [routerLink]="['/signup']" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{'SIGNUP'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>