.continue-with {
    position: relative;
    /* Establish positioning context for pseudo-elements */
    text-align: center;
    /* Center the text horizontally */
}

.continue-with span::before,
.continue-with span::after {
    content: "";
    /* Add content for pseudo-elements */
    position: absolute;
    /* Position absolutely within the relative container */
    top: 50%;
    /* Align at the middle vertically */
    width: 120px;
    /* Adjust the width of the lines */
    height: 1px;
    /* Height of the lines */
    background-color: #000;
    /* Color of the lines */
}

.continue-with span::before {
    left: -140px;
    /* Position the line on the left */
    transform: translateY(-50%);
    /* Adjust for vertical alignment */
}

.continue-with span::after {
    right: -140px;
    /* Position the line on the right */
    transform: translateY(-50%);
    /* Adjust for vertical alignment */
}

.auht2button {
    background-color: white;
}

.auht2button:hover {
    background-color: #c0aa81;
}

.img {
    background-image: url("/assets/images/tyler-franta-iusJ25iYu1c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.row-height {
    height: 100vh;
}

.title1 {
    /*font-family: Poppins,"Roboto Light" ;*/
    /*font-weight:bold;*/
    font-size: 36px;
}

.title2 {
    /*font-family: Poppins,"Arial Black" ;*/
    font-weight: lighter;
    font-size: 18px;
}

.colBack {
    background-color: #ffffff;
}