<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<h1 [dir]="'dir'|translate">{{'WELCOME'|translate}}</h1>
<div [dir]="'dir'|translate" style="text-align:center; width: 100%;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pJ274mEYkkI" frameborder="0" allowfullscreen style="margin: 0 auto;"></iframe>
</div>

<div [dir]="'dir'|translate" style="text-align: center; width: 100%;align-items: center;margin-top: 40px;">
    <p style="font-size: 17px;color: #c0aa81;font-weight: bold;">{{'EXCITING_START'|translate}}
        <br>{{'DIGITAL_GUIDE'|translate}}</p>
</div>
<br>
<br>
<div class="container bootdey">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div [dir]="'dir'|translate" class="card">
                <div class="card-body">
                    <!-- Timeline start -->
                    <div class="timeline">
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_1'|translate}}
                            </div>
                            <div class="timeline-dot fb-bg"></div>
                            <div class="timeline-content">
                                <i class="fa-solid fa-people-group"></i>
                                <h4>{{'BUSINESS_FUNDAMENTALS'|translate}}</h4>
                                <p>{{'TEAMWORK_IMPORTANCE'|translate}}</p>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_2'|translate}}
                            </div>
                            <div class="timeline-dot green-one-bg"></div>
                            <div class="timeline-content green-one">
                                <i class="fa-solid fa-business-time"></i>
                                <h4>{{'BUSINESS_ENVIRONMENT'|translate}}</h4>
                                <p>
                                    {{'BUSINESS_ENVIRONMENT_DESK'|translate}}</p>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_3'|translate}}
                            </div>
                            <div class="timeline-dot green-two-bg"></div>
                            <div class="timeline-content green-two">
                                <i class="fa-regular fa-lightbulb"></i>
                                <h4>{{'CONCEPT_DEVELOPMENT'|translate}}</h4>
                                <p>{{'REFINE_IDEA'|translate}}</p>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_4'|translate}}
                            </div>
                            <div class="timeline-dot green-three-bg"></div>
                            <div class="timeline-content green-three">
                                <i class="fa-solid fa-shop"></i>
                                <h4>{{'MARKET_STUDY'|translate}}</h4>
                                <p>
                                    {{'MARKET_POTENTIAL'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_5'|translate}}
                            </div>
                            <div class="timeline-dot green-four-bg"></div>
                            <div class="timeline-content green-four">
                                <i class="fa-solid fa-gears"></i>
                                <h4>{{'TECHNICAL_STUDY'|translate}}</h4>
                                <p class="no-margin">{{'TECHNICAL_FEASIBILITY'|translate}}</p>

                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_6'|translate}}
                            </div>
                            <div class="timeline-dot teal-bg"></div>
                            <div class="timeline-content teal">
                                <i class="fa-solid fa-money-bill"></i>
                                <h4>{{'FINANCIAL_STUDY'|translate}}</h4>
                                <p class="no-margin">
                                    {{'PROJECT_PROFITABILITY'|translate}}</p>

                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_7'|translate}}
                            </div>
                            <div class="timeline-dot sea-green-bg"></div>
                            <div class="timeline-content sea-green">
                                <i class="fa-regular fa-building"></i>
                                <h4>{{'COMPANY_PROFILE'|translate}}</h4>
                                <p>
                                    {{'COMPANY_PROFILE_DESK'|translate}}</p>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                {{'STEP_8'|translate}}
                            </div>
                            <div class="timeline-dot teal-bg"></div>
                            <div class="timeline-content teal">
                                <i class="fa-solid fa-money-bill-trend-up"></i>
                                <h4>{{'INVESTMENT_READINESS'|translate}}</h4>
                                <p class="no-margin">
                                    {{'ASSESS_INVESTOR_READINESS'|translate}}</p>

                            </div>
                        </div>
                    </div>
                    <!-- Timeline end -->
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div [dir]="'dir'|translate" style="text-align: center;" class="mb-8">
    <button type="button" class="btn btn-outline-primary howitworks" (click)="startNow()">{{'START_NOW'|translate}}</button>
</div>