<div class="ml-4" *ngIf="programs$ |async as programs">
    <div class="flex justify-center" *ngIf="programs.length == 0">
        <div class="flex flex-col justify-center py-12 items-center">

            <div class="flex justify-center items-center text-gray-500 ">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-48 h-48">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
        </svg>
            </div>
            <h1 class="text-gray-700 font-medium text-2xl text-center mb-3">{{'NO_PROGRAMS_YET'|translate}}</h1>
            <p class="text-gray-500 text-center mb-6">{{'APPLY_TO_PROGRAM'|translate}}</p>
        </div>
    </div>


    <div class="  grid grid-cols-3 gap-4 lg:grid-cols-3 lg:gap-8 ">
        <div class="  mt-4 rounded-lg   " *ngFor="let prog of programs;let i = index">
            <div class=" bg-white  shadow-md relative block  rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8">

                <div class="row  ">
                    <div class="col-3">
                        <img alt="" src="{{''| defaultimage :prog.organizationProgramName:'':true}}" class="size-16 rounded-lg object-contain shadow-sm " />
                    </div>

                    <div class="col  ">
                        <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                            {{prog.organizationProgramName }}
                        </h3>
                        <p> {{prog.projectName |titlecase}}</p>
                        <p> {{prog.organizationName|titlecase}}</p>
                    </div>
                </div>
                <div class="flex justify-center ">
                    <button [routerLink]="['/feed/program/follow-up']" [queryParams]="{id:prog.id}" class=" w-full ml-4  rounded border-1 border-gray-400 px-16 py-2   text-sm font-medium text-main hover:bg-tertiary hover:text-white focus:outline-none   ">
            {{'VIEW'|translate}} <i
            class="fa-solid fa-arrow-right"></i>
          </button>
                </div>
            </div>
        </div>
    </div>
</div>